@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --main-color: #443;
  --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
  --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
  --border: 0.2rem solid var(--main-color);
  --border-hover: 0.2rem dotted var(--main-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* align-content: center; */
  padding: 2rem 9%;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  color: var(--main-color);
  font-size: 2.3rem;
}

.header .logo i {
  padding-left: 1rem;
}

.header .navbar a {
  margin: 0 1rem;
  color: var(--main-color);
}

.btn {
  border: var(--border);
  padding: 0.9rem 1.5rem;
  border-radius: var(--border-radius);
  color: var(--main-color);
}

.btn:hover {
  border-radius: var(--border-radius-hover);
  border: var(--border-hover);
}

.heading {
  font-size: 9rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.5rem var(--main-color);
  letter-spacing: 0.2rem;
  line-height: 1.6;
  text-align: center;
  position: relative;
  pointer-events: none;
}

.heading span {
  position: absolute;
  width: 100%;
  color: var(--main-color);
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

/* home  */
.home {
  min-height: 100vh;
  padding-top: 150px;
  background-image: url(../image/home-bg.jpg);
  background-size: cover;
  background-position: center;
}

.home .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
}

.home .row .content {
  width: 50rem;
  padding-top: 10rem;
}

.home .row .content h3 {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 6.5rem;
  margin-bottom: 2rem;
}

.home .row .image {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  padding-top: 6rem;
  text-align: center;
}

.home .image-slider {
  text-align: center;
  padding: 3rem;
  padding-top: 15rem;
}

.home .image-slider img {
  height: 9rem;
  margin-top: 5rem;
}

.home .row .image img {
  height: 25rem;
  animation: move 2s linear infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translateX(0rem) rotate(-10deg);
  }

  50% {
    transform: translateX(-7rem) rotate(10deg);
  }
}

.home .image-slider img:hover {
  transform: translateY(-2rem);
}

/* home ends here  */

/* about  */

.about .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.about .row .image {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  text-align: center;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 42rem;
}

.about .row .content .title {
  color: var(--main-color);
  font-size: 3rem;
  line-height: 1.8;
}

section {
  padding: 4% 10%;
}

.about .row .content p {
  color: var(--main-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.about .row .content .btn {
  margin: 5rem 0;
}

.about .row .content .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.about .row .content .icons-container .icons {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}

.about .row .content .icons-container .icons:hover {
  border: var(--border-hover);
}

/* end of about  */

/* menu  */

.menu {
  background: url(../image/menu-bg.jpg);
  background-position: center;
  background-size: cover;
}

.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.menu .box-container .box {
  border: var(--border);
  border-radius: var(--border-radius);
  gap: 1.5rem;
  margin-left: 5rem;
  align-items: center;
  flex: 1 1 42rem;
  display: flex;
  padding: 2rem;
}

.menu .box-container .box img {
  height: 10rem;
}

.menu .box-container .box .content {
  padding-left: 2rem;
  color: var(--main-color);
}

.menu .box-container .box .content h3 {
  font-size: 3rem;
}

.menu .box-container .box .content p {
  font-size: 1.5rem;
}

.menu .box-container .box .content .price {
  font-size: 2rem;
}

/* menu ends here  */

/* for review */
.review .review-slider {
  padding: 10rem 0;
}

.review .review-slider .box {
  /* position: relative; */
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
  padding: 3rem 2rem;
  margin: 2rem 0;
  user-select: none;
}

.review .review-slider .box .fa-quote-left {
  z-index: 1;
  color: #443;
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 6rem;
}

.review .review-slider .box .fa-quote-right {
  z-index: 1;
  color: #443;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 6rem;
}

.review .review-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* for review slider */
.review .review-slider{
  padding: 10rem 0;
  z-index: -1;
}

#menu-btn{
  display: none;
}
.book form{
    display: flex;
    flex-direction: column;
}